$base-background:#fff;
$main-min-width: 1300px;
$base-box-border-color: #ECEEF5;
$page-footer-font-color:#555555;
$page-footer-background:#f4fce8;
$base-border-gray:#999999;
$base-font-gray:#777777;



